
* {
    font-family: "Open Sans", sans-serif;
    transition: all linear .2s;
  }

  .slide ul {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 220%);
    display: flex !important;
    flex-direction: row;
    column-gap: 8px;
  }

  .slide .slick-active::after {
    content: "-";
    color: #ffffff;
  }

  .slide ul li button {
    background: transparent;
    outline: 0;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 4%;
    font-family: "Cormorant Upright", serif;
    color: #f5efdb;
  }

  .slick-center {
    transition: 0.8s;
    opacity: 30%;
  }

  .reservation_container,
  .box_shadow {
    -webkit-box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  }

  

  .textTop{


    border: solid .5px #DCCA87;
    
    
    
    
    
      }
    
      .reservation_container,
      .box_shadow {
        
    border: solid .5px #DCCA87;
        -webkit-box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
        box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
      }